emails-editor *,
button.ng-emails-editor-button{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial, sans-serif ;
}

div.ng-email-editor-title{
    font-size: 20px;
}

div.ng-mail-list {
    width:300px;
    height:200px;
    min-width:50px;
    min-height:50px;
    border: 1px solid black;

    overflow: auto;
}

div.ng-mail-item{
    height:16px;
    max-width: 200px;
    float:left;
    border: 1px solid blue;
    margin: 3px;
    border-radius: 7px;
    padding: 2px;
}

div.ng-mail-list textarea.ng-email-input{

    height: 16px;
    width: 250px;
    padding: 5px 0 0 0;
    margin: 3px 0 3px 5px;
    resize: none;
    overflow: hidden;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    border: none;
    background-color: transparent;
}

textarea.ng-email-input:focus{
    outline: transparent none;
}

div.ng-email-text{
    text-align: center;
    display: inline-block;
    position: relative;
    top: -1px;
}

div.ng-email-btn-close{
    display: inline-block;
    height: 14px;
    width: 14px;
    border: none;
    background: transparent url('../img/close.png') 0 0;
}

div.ng-email-btn-close:hover{
    background: transparent url('../img/close.png') -14px 0;
}


button.ng-emails-editor-button{
    margin: 7px;
    height: 30px;
    width: 120px;
    float: left;
    color: white;
    border: 1px solid #6699ff;
    border-radius: 2px;
    background-color: #6699ff;
}

button.ng-emails-editor-button:hover{
    background-color: #99ccff;
}